<h2>LOAD DATA</h2>

In [8]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('https://clo-pfw-prod.s3.us-west-2.amazonaws.com/data/PFW_2021_public.csv')
dataset

,loc_id,latitude,longitude,subnational1_code,entry_technique,sub_id,obs_id,Month,Day,Year,...,how_many,valid,reviewed,day1_am,day1_pm,day2_am,day2_pm,effort_hrs_atleast,snow_dep_atleast,Data_Entry_Method
0,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,OBS1059258900,1,24,2021,...,1,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17
1,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,OBS1059259256,1,24,2021,...,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17
2,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,OBS1059259639,1,24,2021,...,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17
3,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,OBS1017001338,11,23,2020,...,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4
4,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,OBS1017001339,11,23,2020,...,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2897100,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,OBS1143975652,2,10,2021,...,3,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4
2897101,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,OBS1143975653,2,10,2021,...,1,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4
2897102,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,OBS1143975654,2,10,2021,...,11,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4
2897103,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,OBS1143975655,2,10,2021,...,5,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4
2897104,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,OBS1143975656,2,10,2021,...,2,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4

<h2>REMOVE REDUNDANCY AND USELESS ATTRIBUTES</h2>

In [9]:
dataset=dataset.drop_duplicates('loc_id').dropna(how='any').reset_index(drop=True)
dataset=dataset.drop(['loc_id','longitude','PROJ_PERIOD_ID','species_code','reviewed','latitude','entry_technique','sub_id','obs_id','valid','day1_am','day1_pm','day2_am','day2_pm','Data_Entry_Method','effort_hrs_atleast'],axis=1)
# np.unique(dataset[''])
dataset

      subnational1_code  Month  Day  Year  how_many  snow_dep_atleast
0                 CA-ON      1   24  2021         1             5.000
1                 CA-SK     11   23  2020         2            15.001
2                 CA-ON      3   27  2021         2             0.000
3                 CA-QC     11   29  2020         1             0.001
4                 CA-QC     11   22  2020         4             0.001
...                 ...    ...  ...   ...       ...               ...
15687             US-HI     12    2  2020         3             0.000
15688             US-NY     11   14  2020        10             0.000
15689             US-MA     11   18  2020         1             0.000
15690             US-MA     11   18  2020         2             0.000
15691             US-NY      2   10  2021         1             0.001

[15692 rows x 6 columns]

<H2>COMBINE DAY,MONTH AND YEAR ATTRIBUTE AS DATE</H2>

In [10]:
combine_datetime=pd.to_datetime(dataset[['Day','Month','Year']])
dataset['Date']= combine_datetime
dataset=dataset.drop(['Month','Day','Year'],axis=1)
dataset

      subnational1_code  how_many  snow_dep_atleast       Date
0                 CA-ON         1             5.000 2021-01-24
1                 CA-SK         2            15.001 2020-11-23
2                 CA-ON         2             0.000 2021-03-27
3                 CA-QC         1             0.001 2020-11-29
4                 CA-QC         4             0.001 2020-11-22
...                 ...       ...               ...        ...
15687             US-HI         3             0.000 2020-12-02
15688             US-NY        10             0.000 2020-11-14
15689             US-MA         1             0.000 2020-11-18
15690             US-MA         2             0.000 2020-11-18
15691             US-NY         1             0.001 2021-02-10

[15692 rows x 4 columns]

<h2>CATEGORICAL DATA</h2>

In [11]:
cat={
    0.0000e+00:'Sunny',1.0000e-03:'Sunny',5.0000e+00:'Snow',1.5001e+01:'Snow Storm'
}
dataset['snow_dep_categorical_label']=dataset['snow_dep_atleast'].map(cat)
dataset
sub_list={}
x=0
for i in np.unique(dataset['subnational1_code']):
    sub_list[i]=x
    x=x+1
sub_list
dataset['subnational1_code_label']=dataset['subnational1_code'].map(sub_list)
dataset

,subnational1_code,how_many,snow_dep_atleast,Date,snow_dep_categorical_label,subnational1_code_label
0,CA-ON,1,5.000,2021-01-24,Snow,7
1,CA-SK,2,15.001,2020-11-23,Snow Storm,10
2,CA-ON,2,0.000,2021-03-27,Sunny,7
3,CA-QC,1,0.001,2020-11-29,Sunny,9
4,CA-QC,4,0.001,2020-11-22,Sunny,9
...,...,...,...,...,...,...
15687,US-HI,3,0.000,2020-12-02,Sunny,24
15688,US-NY,10,0.000,2020-11-14,Sunny,47
15689,US-MA,1,0.000,2020-11-18,Sunny,32
15690,US-MA,2,0.000,2020-11-18,Sunny,32
15691,US-NY,1,0.001,2021-02-10,Sunny,47

<H2>BINNING ATTRIBUTE 'HOW_MANY' INTO SIZE OF 10</H2>

In [12]:
bins=np.arange(0,501,10)
labels = ['{} - {}'.format(i + 1, j) for i, j in zip(bins[:-1], bins[1:])] 
labels[0] = '0 - 10'

bin_array=pd.cut(dataset['how_many'],bins,labels=labels,right=True,include_lowest=True)
dataset['how_many_bins']=bin_array
dataset

,subnational1_code,how_many,snow_dep_atleast,Date,snow_dep_categorical_label,subnational1_code_label,how_many_bins
0,CA-ON,1,5.000,2021-01-24,Snow,7,0 - 10
1,CA-SK,2,15.001,2020-11-23,Snow Storm,10,0 - 10
2,CA-ON,2,0.000,2021-03-27,Sunny,7,0 - 10
3,CA-QC,1,0.001,2020-11-29,Sunny,9,0 - 10
4,CA-QC,4,0.001,2020-11-22,Sunny,9,0 - 10
...,...,...,...,...,...,...,...
15687,US-HI,3,0.000,2020-12-02,Sunny,24,0 - 10
15688,US-NY,10,0.000,2020-11-14,Sunny,47,0 - 10
15689,US-MA,1,0.000,2020-11-18,Sunny,32,0 - 10
15690,US-MA,2,0.000,2020-11-18,Sunny,32,0 - 10
15691,US-NY,1,0.001,2021-02-10,Sunny,47,0 - 10

<H2>100 RANDOM SAMPLES AND SAVE AS CSV</H2>

In [13]:
## TO CHECK THE UNIQUNESS OF SAMPLES 
# list_arra= np.unique(dataset.sample(n=100).index,return_counts=True)
# list_arra
sample_data=dataset.sample(n=100)
sample_data.to_csv('/Users/omkarmanchekar/Desktop/Semester 1/Intro to Data Science/HW/HW1/sampling_data_IDS_HW1.csv')
sample_data

,subnational1_code,how_many,snow_dep_atleast,Date,snow_dep_categorical_label,subnational1_code_label,how_many_bins
8294,US-OH,5,0.0,2020-11-17,Sunny,48,0 - 10
14985,US-KS,2,0.0,2021-03-10,Sunny,29,0 - 10
2424,CA-BC,16,0.0,2020-11-16,Sunny,1,11 - 20
15594,US-MA,12,0.0,2020-11-14,Sunny,32,11 - 20
12887,US-MN,2,0.0,2020-11-19,Sunny,36,0 - 10
...,...,...,...,...,...,...,...
15662,US-IL,1,0.0,2020-11-14,Sunny,27,0 - 10
5931,US-CO,2,0.0,2020-11-14,Sunny,18,0 - 10
6360,US-TX,1,0.0,2020-11-16,Sunny,56,0 - 10
13910,US-NM,2,0.0,2020-12-11,Sunny,45,0 - 10
4427,US-IN,1,0.0,2020-11-17,Sunny,28,0 - 10

NameError: name 'shape' is not defined